titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#993399;
    color: white;
    font-size: 48px;
    width:573px;
    height: 100px;
    margin-top: 50px;
    font-family: 'Magra', sans-serif;
    margin-left: auto;
    margin-right: auto;
        
}
container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color:#993399;
    color: white;
    font-size: 36px;
    width:573px;
    height: 460px;
    margin-top: 3px;
    font-family: 'Magra', sans-serif;
    margin-left: auto;
    margin-right: auto;

}

text{
    font-family: 'Magra', sans-serif;
    margin-left: 30px;
    margin-top: 15px;
   
}
